.homepage {
    display:flex;

    .search-box {
        flex-grow:15;

        img{
            width:100%;
            height:100%;
        }
    }

    .map {
        flex-grow:65;

        img{
            width:100%;
            height:100%;
        }
    }

    .results-box{
        flex-grow:20;
        
        img{
            width:100%;
            height:100%;
        }
    }
    
}