.homepage {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#C0C0C0;
    padding-top:1em;

    
    .search-box {
        img{
            width:100%;
            height:100%;
        }
    }

    .map {
      margin-left:10px;
      width: 100%;
      height: 100%;  
    }

    .results-box{
        flex-grow:20;
        
        img{
            width:30%;
            height:100%;
        }
    }
    
}